#root {
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg--color);
  color: var(--text--100);
  width: 60%;
  height: 80vh;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  overflow: auto;
}
.app-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 2rem;
}
.note-body {
  width: 60%;
}
.note-item {
  border-radius: 20px;
  color: var(--bg--color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  height: 100px;
}
.note-item-1 {
  background-color: var(--note--1);
}
.note-item-2 {
  background-color: var(--note--2);
}
.note-item-3 {
  background-color: var(--note--3);
}
.add-new-note {
  display: flex;
  flex-direction: column;
}
.note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1rem;
}
.text-input {
  border: none;
  outline: none;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 1rem;
  background-color: var(--dark--200);
  color: var(--text--100);
  padding: 0 0.5rem;
}

input::placeholder {
  color: var(--text--200);
}
.btn {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  color: var(--text--100);
  padding: 0.5rem 0;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--red--primary);
}
.note-Item__header {
  display: flex;
  justify-content: space-between;
}
.date {
  font-weight: 100 !important;
  font-size: 0.7rem;
  color: var(--text--300);
}
.note-Item__header__tools {
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.delete {
  font-size: 1.4rem;
  color: var(--red--primary);
  transition: 300ms;
}
.delete:hover {
  font-size: 1.6rem;
}
.check-completed {
  width: 20px;
}
