#root {
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg--color);
  color: var(--text--100);
  width: 60%;
  height: 80vh;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  overflow: auto;
}
.app-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 2rem;
}
.note-body {
  width: 60%;
}
.note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  color: var(--bg--color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  height: 100px;
}
.note-item__content {
  display: flex;
  justify-content: space-between;
}
.note-item__tools {
  display: flex;
  justify-content: space-between;
}
.note-item-1 {
  background-color: var(--note--1);
}
.note-item-2 {
  background-color: var(--note--2);
}
.note-item-4 {
  background-color: var(--note--4);
}
.note-item-3 {
  background-color: var(--note--3);
}
.add-new-note {
  display: flex;
  flex-direction: column;
}
.note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1rem;
}
.text-input {
  border: none;
  outline: none;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 1rem;
  background-color: var(--dark--200);
  color: var(--text--100);
  padding: 0.5rem 0.7rem;
}

input::placeholder {
  color: var(--text--200);
}
.btn {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  color: var(--text--100);
  padding: 0.5rem 0;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--red--primary);
}
.note-item__header {
  display: flex;
  justify-content: space-between;
}
.note-item__footer {
  font-size: 0.8rem;
  color: var(--text--300);
  text-align: center;
}

.delete {
  font-size: 1.2rem;
  color: var(--red--primary);
  transition: 300ms;
}

.check-completed {
  width: 20px;
}

@media screen and (max-width: 768px) {
  .app-body {
    display: flex;
    flex-direction: column;
  }
  .main {
    width: 90%;
  }
  .note-body {
    margin-top: 1rem;
    width: 100%;
  }
}
