:root {
  --bg--color: #251f48;
  --dark--200: #504982;
  --text--100: #ffffff;
  --text--200: #e7e7e7e7;
  --text--300: #939393;
  --text--400: #838383;
  --red--primary: #e93758;
  --note--1: #dabbfa;
  --note--2: #fff5e2;
  --note--3: #d7f8f2;
  --note--4: #f7d7d7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(86, 81, 112);
  background: linear-gradient(
    180deg,
    rgba(86, 81, 112, 1) 0%,
    rgba(52, 47, 83, 1) 50%,
    rgba(39, 33, 74, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
